* {
	margin: 0;
	padding: 0;
}
body {
	-ms-overflow-y: scroll;
	    overflow-y: scroll;
	-ms-overflow-x: hidden;
	    overflow-x: hidden;
}
.img-logo {
	position: relative;
	top: 20px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
}
.header {
	background: url("../images/lipsenseBG.svg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 25%;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.header-overlay {
	background-color: rgba(31, 31, 31, 0.50);
}
.logo {
	padding-bottom: 50px;
}
.header-text {
	padding-left: 100px;
}
.header-text h1 {
	font-size: 40px;
	font-weight: 300;
	line-height: 45px;
	padding-top: 30px;
	color: #D28C8C;
	text-transform: uppercase;
}
.header-text h2 {
	font-size: 30px;
	font-weight: 300;
	line-height: 28px;
	color: #D6B73C;
}
.header-btns {
	margin-top: 90px;
	margin-bottom: 50px;
	padding-left: 100px;
}
.btn-signup {
	color: #D6B73C;
}
.btn-signup,
.btn-signup:focus,
.btn-signup:active,
.btn-signup:visited {
	background: transparent;
	padding: 10px 20px;
	font-size: 19px;
	border: 1px solid #D28C87;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
	    -ms-transition: all 1s;
	     -o-transition: all 1s;
	        transition: all 1s;
}
.btn-signup:hover {
	background: #D28C8C;
	color: #FFF;
}
.carousel-inner .item img {
	width: 100%;
}